

<button type="button" class="btn btn-primary" (click)="mostrarAlta()">Agregar Mascota</button>
<br><br>
<div class="container">
<form #f="ngForm" class="form-horizontal" style="margin-left:300px">
  <div *ngIf="visible"  class="input-group input-group-xs" id="formAlta">
        <input [(ngModel)]="nombre" name="nombre"  class="form-control" type="text" placeholder="Nombre de la mascota">
        <br>
        <input [(ngModel)]="edad"  name="edad" class="form-control" type="text" placeholder="Edad de mascota">
        
        <br><br>
        <div class="btn-group">
               <label>
                <input [(ngModel)]="sexo" id="m" class="radio" type="radio" name="sexo" value="M" checked>Macho
                </label>
        </div>
        <div class="btn-group">
           <label> 
           <input [(ngModel)]="sexo" id="h" class="radio" type="radio" name="sexo" value="H"> Hembra
          </label>
        </div>
        
        <br><br>
         <select [(ngModel)]="tipo" name="tipo" class="form-control">
            <option value="PERRO">Perro</option>
            <option value="GATO">Gato</option>
        </select>
        <br><br>
        <input type="button" class="btn btn-success" value="Insertar Mascota" (click)="agregarMascota()">
        <input type="button" style="margin-left:20px" class="btn btn-default" value="Ocultar" (click)="ocultarFormAlta()">
  </div>
</form>
</div>

<br><br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotas">
        <td>{{mascota.nombre}}</td>
        <td>{{mascota.edad}}</td>
        <td>{{mascota.sexo}}</td>
        <td>{{mascota.tipo}}</td>
        <td><input type="button" class="btn btn-warning" value="Editar"></td>
        <td><input type="button" class="btn btn-danger" value="Borrar"></td>
      </tr>
    </tbody>
  </table>
</div>

